:root{

    background-color: black;
    color: aliceblue;
}

.pages{
width: 100%;
margin-left: 20px;

}

.shortPiece{
    background-color: blueviolet;
 
    margin-left: 15%;
    margin-right: 15%;
}

.linkToShortPiece{
 
    color: aliceblue;
    text-decoration: none;
    margin-top: 26px;
    
   
}
.linkToShortPiece:hover{
    color: chocolate;
    
}

.listOfShortPieces{
    display: flex;
    flex-direction: column;
    height: auto;
   
    align-items: left;
    margin: 10px;
}
.profile_picture{
   float: left;
   width: 30%;
   height: 28%;
   margin: 10px;
   border-radius: 5%;
}

.aboutForm {
   position: relative;
   margin-left: 15%;
   margin-right: 15%;
  text-align: left;
   

}